<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>this is about page</title>
</head>
<body>
	<section>

	   <div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div style="height:280px" id="login-box" class="col-md-12">
      <!-- THIS IS EMAIL FORM -->
			<div class="alert alert-success m-3 text-center" role="alert">
			  <span>we have successfully sent otp on your email</span>
			</div>
			
			     <!-- Message Box -->
		   <div th:if="${session.message}" class="container">
		     
				     <div  class="alert alert-danger text-center" role="alert">
				  <span th:text="${session.message}"></span>
				</div>
		   <th:block  th:text="${#session.removeAttribute('message')}"></th:block>
		   </div>
                    <form th:action="@{/verify-otp}" method="post">
                    
                    <div class="form-group m-3">
                    
                    <input name="otp" required="required" class="form-control" type="text" placeholder="Enter OTP here" />
                    
                    </div>
                   
                    <div class="container text-center"><button class="btn btn-success">Verify</button>
                    </div>
                    
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
	   
	</section>
</body>
</html>
